section.aboutCards__wrapper
  .row
    .columns
      .aboutCards
        h1.h1 Teams
        ul.card__list
          li.card__item
            .card__img
              img(src=require('../../images/design.svg'))
            h3.item__caption Design
            p.item__text UX / UI
          li.card__item
            .card__img
              img(src=require('../../images/frontend.svg'))
            h3.item__caption Frontend
            p.item__text React / Ember / HTML5 / CSS3 / ES6 / Sass / Angular / CoffeeScript / Backbone / Joosy
          li.card__item
            .card__img
              img(src=require('../../images/backend.svg'))
            h3.item__caption Backend
            p.item__text Ruby / Elixir / Node.js / PHP / GO / Erlang / C / C++ / MySql / Postgres / MemCache / Redis / Mongo
          li.card__item
            .card__img
              img(src=require('../../images/mobile.svg'))
            h3.item__caption Mobile
            p.item__text iOS / Android / WindowsPhone