section.expertise__wrapper
  .row
    .columns
      .expertise
        h2.h2 Our expertise
        h3.h3 Product development done right
        ul.expertise__list
          li.expertise__item
            .expertise__img
              img(src=require('../../images/strategy.svg'))
            h3.item__caption Concept & Strategy
            p.item__text Workshops, research and business strategy.
          li.expertise__item
            .expertise__img
              img(src=require('../../images/design.svg'))
            h3.item__caption UX & UI Design
            p.item__text User Experience and User Interface Design.
          li.expertise__item
            .expertise__img
              img(src=require('../../images/development.svg'))
            h3.item__caption Development
            p.item__text Web and mobile apps development.