section.head__wrapper
  .row
    .columns
      .head
        .head__img
          img(src=require('../../images/brain.png'))
        .head__shadow
          img(src=require('../../images/head_shadow.png'))