section.contactUs__wrapper
  .row
    .columns
      .contactUs
        h2.h2 Напишите нам
        h3.h3 Расскажите о своей цели/проблеме - и мы предложим оптимальный смособ её достижения/решения
        a.btn Рассказать
