section.expertise__wrapper
  .row
    .columns
      .expertise
        h2.h2 Наши компетенции
        h3.h3 Development done right
        ul.card__list
          li.card__item
            .card__img
              img(src=require('../../images/strategy.svg'))
            h3.item__caption Аналитика и проектирование
            p.item__text Workshops, research, business strategy и project management
          li.card__item
            .card__img
              img(src=require('../../images/design.svg'))
            h3.item__caption UX & UI Design
            p.item__text User Experience and User Interface Design
          li.card__item
            .card__img
              img(src=require('../../images/development.svg'))
            h3.item__caption Разработка
            p.item__text web- и мобильные приложения и системы, автоматизация бизнес-процессов
