footer.footer
  .row
    .columns
      nav.footer__nav
        ul.nav__list
          li.nav__item
            block footerHome
              a.nav__link(href="/") Домой
          li.nav__item
            block footerProject
              a.nav__link(href="/projects.html") Проекты
          li.nav__item
            block footerContacts
              a.nav__link(href="/contacts.html") Контакты
          li.nav__item
            block footerAbout
              a.nav__link(href="/aboutUs.html") О Нас
        p.nav__coop Copyright © 2018 HeadMade