footer.footer
  .row
    .columns
      nav.footer__nav
        ul.nav__list
          li.nav__item
            a.nav__link Домой
          li.nav__item
            a.nav__link Проекты
          li.nav__item
            a.nav__link Контакты
          li.nav__item
            a.nav__link О Нас
        p.nav__coop Copyright © 2018 HeadMade