header.header
  .row
    .columns
      nav.nav
        .nav__logo
          a.nav__linkLogo(href="/")
            img(src = require('../../images/headmade.png'))
        ul.header__nav
          block projectsActive
            li.nav__item
              a.nav__link(href="/") Проекты
          block contactsActive
            li.nav__item
              a.nav__link(href="/") Контакты
          block aboutActive
            li.nav__item
              a.nav__link(href="/") О нас
        .hamburger-wrapper
          button.c-hamburger.c-hamburger--htx
            span toggle men