section.project__wrapper
  .row
    .columns
      .project
        block project__caption
          h1.h1 Проект


          .monitor__wrapper
            .monitor
              .monitor__stand
              .monitor__stand-bot
              .monitor__img
                img(src=require("../../images/test.jpg") alt="alt")
          .info
            h3.info__caption tovar-link
            p.info__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, cumque dicta eaque id ipsa iusto nemo odio provident quam quasi!
            a.btn(href='/tovar-link.html') Подробнее