section.projects__wrapper
  .row
    .columns
      .projects
        h1.h1 Проекты
        ul.projects__list
          li.list__item
            .columns.large-6.small-12
              .monitor-block
                .monitor__wrapper
                  .monitor.desktop
                    .monitor__stand
                    .monitor__stand-bot
                    .monitor__img-wrapper
                      img.monitor__img.monitor__img--desktop(src=require("../../images/projects/tovar.link/tovar.link__desktop.png") alt="alt")
            .columns.large-6.small-12
              .info
                h3.info__caption Tovar-link
                p.info__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, cumque dicta eaque id ipsa iusto nemo odio provident quam quasi!
                a.btn(href='/tovar-link.html') Подробнее

            li.list__item
              .columns.large-6.small-12
                .monitor-block
                  .monitor__wrapper
                    .monitor.desktop
                      .monitor__stand
                      .monitor__stand-bot
                      .monitor__img-wrapper
                        img.monitor__img.monitor__img--desktop(src=require("../../images/projects/flowers.kzn/flowers.kzn__desktop.png") alt="alt")
              .columns.large-6.small-12
                .info
                  h3.info__caption flowers.kzn
                  p.info__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, cumque dicta eaque id ipsa iusto nemo odio provident quam quasi!
                  a.btn(href='/flowers.kzn.html') Подробнее

            li.list__item
              .columns.large-6.small-12
                .monitor-block
                  .monitor__wrapper
                    .monitor.desktop
                      .monitor__stand
                      .monitor__stand-bot
                      .monitor__img-wrapper
                        img.monitor__img.monitor__img--desktop(src=require("../../images/projects/aliposter.ru/aliposter.ru__desktop.png") alt="aliposter.ru__desktop")
              .columns.large-6.small-12
                .info
                  h3.info__caption aliposter
                  p.info__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, cumque dicta eaque id ipsa iusto nemo odio provident quam quasi!
                  a.btn(href='/aliposter.html') Подробнее