section.contacts__wrapper
  .row
    .columns
      .contacts
        h1.h1 Get in touch with us!
        .monitor__wrapper
          .monitor
            .monitor__stand
            .monitor__stand-bot
            .monitor__img
              img(src=require("../../images/test.jpg") alt="alt")
