section.about__wrapper
  .row
    .columns
      .about
        h2.h2 Основные направления деятельности команды:
        ul.ul
          li.li - разработка web-пороектов: как целиком, так и отдельными компонентами
          li.li - консалтинговые услуги: помогаем организовать правильные процессы разработки
          li.li - project resque: временное усиление команды заказчика с целью вытянуть "покосившийся" проект
        h2.h2 Направление consulting:
        ul.ul
          li.li - agile coaching, scrum, kanban, корпоративная культура
          li.li - помощь и экспертные рекомендации по выбору технологий и инструментов
          li.li - UX-проектирование(сбор/анализ требований бизнеса и пользователей, сценарии, прототипиование, юзабилити тестирование)
        h2.h2 Направление "project resque":
        p.p Накопленный опыт членов команды Headmade позволяет быстро влиться в существующий коллектив проекта заказчика и начать активно способствовать ускорению процесса разработки.
        h2.h2 У нас есть успешный опыт "вытягивания":
        ul.ul
          li.li - затянувшихся проектов
          li.li - проектов, зашедших в архитектурный тупик
          li.li - проектов, использующих несоответствующие поставленной задаче технологии и инструменты
          li.li - проектов, из которых внезапно уходят ведущие разработчики