section.contacts__wrapper
  .row
    .columns
      .contacts
        h1.h1 ООО «Хэдмейд»
        .icon.message
          a.icon__link(href="mailto:info@headmade.pro") info@headmade.pro
        .icon.phone
          a.icon__link(href="tel:+78432599923") +7(843)259-99-23
        .icon.map
          a.icon__link г. Казань, ул.Московская, д.22
