@import 'vars'
@import 'mixin'

html
  height: 100%
  font-size: $general-font-size

body
  display: flex
  height: 100%
  flex-direction: column
  main.myMain
    flex: 1 0 auto

a
  text-decoration: none
  &:hover
    text-decoration: none
  &:focus
    outline: none

ul
  margin: 0
  list-style-type: none


label
  margin-bottom: 8px
  color: color('text', 'darker')

@media only screen and (max-width: 1200px)
  html
    font-size: 15px

@media only screen and (max-width: 992px)
  html
    font-size: 14px

@media only screen and (max-width: 768px)
  html
    font-size: 13px
