doctype
html
  head
    meta(charset="utf-8")
    title
      block title
    meta(name="description" content="")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
  body
    include includes/_header
    main.myMain
      block components
    include includes/_footer
