@font-face {
    font-family: 'PFAgoraSlabProBlack';
    src: url('/fonts/pfagoraslabpro-black-webfont-webfont-webfont.eot');
    src: url('/fonts/pfagoraslabpro-black-webfont-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pfagoraslabpro-black-webfont-webfont-webfont.woff') format('woff'),
         url('/fonts/pfagoraslabpro-black-webfont-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{font:13px/1.231 verdana, sans-serif; *font-size:small;}
body, select, input, textarea {color: #444}

::-moz-selection{background:#FF5E99;color:#fff;text-shadow:none}
::selection{background:#FF5E99;color:#fff;text-shadow:none}
a:link{-webkit-tap-highlight-color:#FF5E99}
a,a:active,a:visited{color:#607890}
a:hover{color:#036}

h1, h2, h3, h4, h5, h6 {font-weight:bold}

.hidden{display:none;visibility:hidden}
.clearfix:before,.clearfix:after{content: "\0020"; display: block; height: 0; visibility: hidden} 
.clearfix:after{clear: both}
.clearfix {zoom: 1}
.clr{clear:both}
.alignleft{float: left}
.alignright{float: right}
.textleft{text-align: left}
.textright{text-align: right}
.textcenter{text-align: center}

/*Inputs BEGIN*/
::-webkit-input-placeholder {
	color: #999;
}
:-moz-placeholder {
	color: #999;
} 
input, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    font-size: 110%;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    padding: 5px 3px 3px 7px;
}
textarea {
    border-color: #DEDEDE #BBBBBB #BBBBBB #DEDEDE;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    font: 110% Arial,Helvetica,sans-serif;
    padding: 5px 3px 3px 7px;
}
input[type="submit"]{
	padding: 5px 5px 3px;
	color: #999;
}
input[type="submit"]:hover{
	border-color: #333;
	color: #333;
}
input[type="submit"]:active{
	border-color: #333;
	background: #999;
	color: white;
} 
/*Inputs END*/

html{
	height: 100%;
}
body {
	height: 100%;
	background: #fff;
	width: 100%;
	cursor: pointer;
}
#content{
	position: absolute;
	width: 288px;
	height: 570px;
	margin-left: -144px;
	left: 50%;
	top: 50%;
	margin-top: -245px;
	min-width: 288px;
	min-height: 490px;
}
#head{
	width: 288px;
	height: 236px;
	top:390px;
	left: 50%;
	text-align: center;
}
#head img{
	width: 198px;
	height: 236px;
	margin-top: 0;
}
#head_shadow{
	height: 30px;
	width: 288px;
	position: absolute;
	text-align: center;
	bottom: 80px;
	left: 0;
}
#head_shadow img{
	height: 20px;
	width: 188px;
	margin-top: 0;
	margin-top: 5px;
}

#footer{
	height: 80px;
	width: 288px;
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 0;
}
#footer h1{
  background: #fff;
  font-size: 20px;
}
#footer h2{
  background: #fff;
  font-size: 12px;
}

header .top{

}
header .bottom{

}

/* Portfolio */
.black_noise{
	background: url(../img/black_noise.png) top left repeat;
	color: white;
}
.white_noise{
	background: url(../img/white_noise.png) top left repeat;
	color: #414042;
}
.header{
	background: url(../img/gray_header.png) top left repeat;
	height: 80px;
}
	header .content{
		height: 100%;
	}
		.header a{
			display: block;
			width: 214px;
			height: 100%;
			background: url(../img/logo_portfolio.png) center center no-repeat;
		}
		.header .title{
			display: block;
			width: 324px;
			height: 100%;
			background: url(../img/port_title.png) left center no;
    }
.portfolio_item{
	padding: 40px 0;
	font-size: 14px;
}
	.portfolio_item h2{
		font-weight: normal;
		font-size: 18px;
		font-family: 'PFAgoraSlabProBlack';
	}
		.portfolio_item .content, .header .content{
			width: 1200px;
			margin: 0 auto;
			padding: 0 40px;
		}

/*Footer BEGIN*/
#footer .hm_link{
	display: block;
	width: 257px;
	height: 36px;
	background: url(../img/headmade.png) top left no-repeat;
}


/*Footer END*/
@media print{
*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important}
a, a:visited{color:#444 !important;text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after{content:""}
pre, blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
tr, img{page-break-inside:avoid}
@page{margin:0.5cm}
p, h2, h3{orphans:3; widows:3}
h2, h3{page-break-after:avoid}
}
