extends  ../general

block title
  | Главная

block components
  section.about-dit
    .container
      .row
        .col-xs-12
          .about-dit__top-img-wrapper
            h1.about-dit__caption О Департаменте телекоммуникационных технологий
