extends  ../general

block title
  | Главная

block components
  include ../includes/_airHead
  include ../includes/_expertise
  include ../includes/_contactUs

  //%h2 г. Казань, ул.Московская, д.22
  //%h2 +7(843)259-99-23
  //%h2
  //%a{href: "mailto:info@headmade.pro"}
  //info@headmade.pro
