extends  ../general

block title
  | Проекты

block footerProject
  a.nav__link.active(href="/projects.html") Проекты

block projectsActive
  li.nav__item.active
    a.nav__link(href="/projects.html") Проекты

block components
  include ../includes/_projects