@import '../../style/settings/vars'
@import '../../style/settings/mixin'
@import '../../style/settings/media'

.contactUs__wrapper
  padding: 100px 0
  background: #fafafa
  border-top: 1px solid #e9ecee

.contactUs
  display: flex
  flex-direction: column
  align-items: center
  & .h2
    margin-bottom: 40px
  & .h3
    max-width: 600px
    text-align: center
    margin-bottom: 40px