@import '../../style/settings/vars'
@import '../../style/settings/mixin'
@import '../../style/settings/media'

footer.footer
  border-top: 1px solid #e9ecee
  width: 100%
  background-color: #fff

nav.footer__nav
  display: flex
  flex-wrap: wrap
  & .nav__list
    display: flex
    flex-wrap: wrap
    & .nav__item
      padding: 0 20px
      & .nav__link
        @include font($general-ff-pfagoraslabpro, $general-font-weight, 18px, #676767)
        display: block
        padding: 20px 0
        position: relative
        transition: color .4s ease
        &:hover, &:focus
          color: #28c23e
        &.active
          color: #28c23e
          cursor: default
        &.logo-img
          padding: 14px 0
          & img
            width: 36px
            height: 42px

  & .nav__coop
    padding: 20px 0
    @include font($general-ff-pfagoraslabpro, $general-font-weight-light, 18px, #676767)
    margin-left: auto
    margin-bottom: 0
    @include small
      margin-left: 20px