// fonts
$general-ff-pfagoraslabpro: "pfagoraslabpro", Helvetica, Arial, sans-serif;

$general-font-size: 16px;

$general-font-line-height: 20px;

$general-font-weight: normal;
$general-font-weight-bold: bold;
$general-font-weight-light: 200;

$general-margin: 80px;
$header-height: 70px;

$general-transition: all .4s ease;
$general-border-radius: 4px;


//color
$scotch-color-key: 'base' !default;

$primary: #28c23e; //первичный-основной
$secondary: #fafafa; //вторичный
$accent: #e90e3f; //акцент-ударение

$danger: #d9534f;
$warning: #f0ad4e;
$success: #5cb85c;
$info: #9dd6fd;
$general-opacity: ( 'darker': 0.8, 'dark': 0.6, 'light': 0.4, 'lighter': 0.2);
$text-base: #000000;
$general-pallet: (
  'info': (
    'base': $info,
    'dark': mix(black, $info, 30%),
    'light': mix(white, $info, 30%),
  ),
  'primary': (
    'base': $primary,
    'dark': mix(black, $primary, 30%),
    'light': mix(white, $primary, 30%),
  ),

  'secondary': (
    'base': $secondary,
    'dark': mix(black, $secondary, 30%),
    'light': mix(white, $secondary, 30%),
  ),

  'accent': (
    'base': $accent,
    'dark': mix(black, $accent, 30%),
    'light': mix(white, $accent, 30%),
  ),

  'danger': (
    'base': $danger,
    'dark': mix(black, $danger, 30%),
    'light': mix(white, $danger, 30%),
  ),

  'warning': (
    'base': $warning,
    'dark': mix(black, $warning, 30%),
    'light': mix(white, $warning, 30%),
  ),

  'success': (
    'base': $success,
    'dark': mix(black, $success, 30%),
    'light': mix(white, $success, 30%),
  ),

  'black': (
    'base': #000000,
  ),

  'white': (
    'base': #ffffff,
    'dark': mix(black, #ffffff, 30%),
  ),

  'text': (
    'black': lighten($text-base, 0%), // #000
    'darker': lighten($text-base, 13.5%), // #222
    'dark': lighten($text-base, 20%), // #333
    'base': lighten($text-base, 33.5%), // #555
    'light': lighten($text-base, 46.7%), // #777
    'lightGray': lighten($text-base, 60%), // #999
    'lighter': lighten($text-base, 93.5%), // #eee
    'white': lighten($text-base, 100%), // #fff
  ),
);
