@import '../../style/settings/vars'
@import '../../style/settings/mixin'
@import '../../style/settings/media'

.directions__wrapper
  margin-top: $header-height
  padding: $general-margin 0
  background-color: color("secondary")
  border-top: 1px solid color("secondary", "dark", "light")

.directions
  display: flex
  flex-direction: column
  align-items: center
